/* Format.Css
 * Written by Jordan Rejaud */

@font-face
{
    font-family: WeblySleekUI;
    src: url(fonts/weblysleekuil.ttf);
}
@font-face
{
    font-family: LearningCurve;
    src: url(fonts/LearningCurve.ttf)
}
a
{
   text-decoration: none; 
}
a:link
{
    color: #7C7A77;  /* Light Grey */
}
a:visited
{
    color: #7C7A77;  /* Light Grey */
}
a:hover
{
    color: #FFFFFF; /* White Text */ 
}
/* Nav Bar */
nav
{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
ul
{
    display: block;
    list-style-type: none;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}
ul li
{
    margin: 0;
    padding: 0;
}
ul li a
{
    line-height: 1.4;
    font-size: 23px;
    display: block;
    float: left;
    max-height: 500px;
    width: 200px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    color: #FFFFFF;
}

/* Learning Table */
table.learningtable
{
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table.learningtable td
{
    height: 300px;
    border: none;
    vertical-align: middle;
    text-align: center;
    width: 20%;
    padding-top: 15px;
}
table.learningtable img
{
    height: 200px;
    vertical-align: middle;
}

body
{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:5px; /* hacks for footer */
    background-color:  #121211; /* Light Grey Background */
    /*background-color: #121211; Light Grey Background */
    color: #FFFFFF; /* White Text */
}


/* hacks */
html {
    position: relative;
    min-height: 100%;
}
footer {
    margin-top: 20px;
    text-align: center;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 5px;
    width: 100%;
    padding-bottom: 0px;
    border-top: solid 1px;
}
footer table {
    margin-left: auto;
    margin-right: 50px;
}
footer table td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}

h1
{
    color: #56C5FF; /* Blue Text */
    margin-left: 15px;
    font-size: 35px;
}
summary
{
    color: #56C5FF; /* Blue Text */
    margin-left: 15px;
    font-size: 30px;
    line-height: 1.4;
}
summary:hover
{
    color: #FFFFFF; /* White Text */
}
h2
{
    color: #56C5FF; /* Blue Text */
    margin-left: 40px;
    line-height: 1.4;
    font-size: 30px;
}
.cvlist
{
    font-size: 225%;
}
.blog_entry
{
    text-indent: 5em;
}
.project_list
{
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.4;
    text-align: center;
}
.bottombar
{
    margin-bottom: 40px;
}
h2 a
{
    color: #56C5FF; /* Blue Text */
    margin-left: 15px;
    line-height: 1.4;
}

h1 img
{
    height:300px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left:5px;
}
h2 img
{
    height:150px;
    float: left;
    margin:15px;
}
.cvimage
{
    height:150px;
    float: left;
    margin:15px;
    margin-right:25px;
}
.lessonimage
{
    height:75px;
    float: left;
    margin-top: 15px;
    margin-left:15px;
    margin-right: 25px;
    margin-bot: 0px;
}
h3
{
    color: #56C5FF; /* Blue Text */
    margin-left: 40px;
    line-height: 1.4;
    font-size: 24px;
}
p
{
    line-height: 1.4;
    font-size: 23px;
    margin-left: 15px;
}
p img
{
    float: left;
    height:360px;
    margin-right: 25px;
    margin-bottom: 25px;
}
/* iframe (for Youtube Videos) */
.ytvideo
{
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
    width: 640px;
    height: 360px;    
}
.clear
{
    width: 100%;
    height: 1px;
    margin: 0 0 -1px;
    clear:both;
}
.block
{
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 25px;
   margin-top: 10px;
}
.margins
{
    margin-left: 8%;
    margin-right: 8%;
}

/* Color Classes */
.olive
{
    color: #6D8764;
}
.cyan
{
    color: #1BA1E2;
}
.crimson
{
    color: #A20025; 
}
.emerald
{
    color: #008A00;
}
.amber
{
    color: #F0A30A;
}
.grey_background
{
    background-color: #222326;
}

div h2.white
{
    color: #FFFFFF;
}
